{% load static %}

    <div class=" footer bg-dark">
        <footer class="py-3">
            <p class="text-center text-muted mb-1">Copyright &copy; 2022 todos os direitos reservado | Desenvolvido por
                Mardoqueu Dickson</p>
        </footer>
    </div>





    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script defer src="{% static 'assets/bootstrap/font-awesome/js/all.js'%}"></script>
    <script src="{% static 'assets/custom/js/scripts.js '%}"></script>