{% load static %}
{% load mdfiletrs %}

<header primario >
    <nav class="navbar navbar-expand-md primario navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'lista' %}">E-commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 d-flex">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'lista' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'produtos' %}">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'perfil:login' %}">Conta</a>
              </li>

              
            {% if request.session.carrinho %}
            <li class="nav-item">
                <a class="nav-link nav-cart-link active" href="{% url 'Carrinho' %}">
                    <span class="nav-cart-text">
                        Carrinho
                    </span>
                   
             
                    <span class="nav-cart-icon mr-2 ">
                        <i class="fas fa-shopping-cart"></i>
                    </span> 
                    <span class="nav-cart-count ">
                        <strong>{{request.session.carrinho|cart_total_qtd }}x</strong>
                    </span>
                </a>
            </li>
            {% endif %}
            
          </ul>
          
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0 primario" type="submit">Search</button>
          </form>
        



        </div>

          </div>

          
          
</header>